form{
    background-color: antiquewhite;
    width: 300px;
    height: 250px;
    border: 30px dotted black;
    border-radius: 10px;
    padding: 50px;
}
body{
    background-color: lightblue;
    display: flex;
    font-family: Arial, sans-serif;
}